<div class="flex justify-between items-center py-5 px-7">
  <div>
    <h1>
      <a href="/">
        <span class="block font-handwriting text-4xl text-secondary">Bahador</span>
        <div class="flex justify-between  items-center gap-2">
          <span class="font-medium uppercase text-primary">Company</span>
          <span class="h-1 basis-14 bg-primary"></span>
        </div>
      </a>
    </h1>
  </div>
  <div class="flex items-baseline gap-14 font-bold">
    <nav>
      <ul class="flex gap-10"><% if(pageName !== 'home'){ %> class="hover:text-primary"<% } %> 
        <li <% if(pageName !== 'home'){ %> class="hover:text-primary"<% } %> ><a href="/">Home</a></li>
        <li <% if(pageName !== 'services'){ %> class="hover:text-primary"<% } %> ><a href="#">Services</a></li>
        <li <% if(pageName !== 'team'){ %> class="hover:text-primary"<% } %> ><a href="#">Team</a></li>
        <li <% if(pageName !== 'about'){ %> class="hover:text-primary"<% } %> ><a href="#">About</a></li>
        <li <% if(pageName !== 'news'){ %> class="hover:text-primary"<% } %> ><a href="#">News</a></li>
        <li <% if(pageName !== 'contact'){ %> class="hover:text-primary"<% } %> ><a href="#">Contact</a></li>
      </ul>
    </nav>
    <a class="bg-primary px-10 py-5 text-white hover:bg-secondary" href="#">Get Free Ad</a>
  </div>
</div>