<div class="main-slide">
  <div class="container mx-auto grid gap-5 grid-cols-[1.1fr_1fr]">
    <div class="flex flex-col justify-center">
      <div>
        <h6 class="text-primary text-sm font-medium uppercase">Legalized Since 2002</h6>
        <h1 class="font-bold text-5xl mb-6">People Do Not Win People Fights - <span class="text-primary">Lawyers Do</span></h1>
        <p class="mb-10">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, hic harum. Iusto dolorum perferendis error libero obcaecati nesciunt esse, corrupti mollitia. Voluptates, neque numquam.</p>
        <div>
          <a class="bg-primary px-6 py-4 text-white mr-5 hover:bg-secondary" href="#">Get Free Ad</a>
          <a class="border border-secondary px-6 py-4 text-secondary hover:border-primary hover:text-primary" href="#">Explore More</a>
        </div>
      </div>
      <div>
        <ul class="flex gap-10">
          <li>
            <span class="block font-bold text-4xl mb-1"><%= data.projects %></span>
            <span class="block uppercase font-semibold text-xs text-primary">Projects</span>
          </li>
          <li>
            <span class="block font-bold text-4xl mb-1"><%= data.reports %></span>
            <span class="block uppercase font-semibold text-xs text-primary">Projects</span>
          </li>
          <li>
            <span class="block font-bold text-4xl mb-1"><%= data.clicks %></span>
            <span class="block uppercase font-semibold text-xs text-primary">Projects</span>
          </li>
        </ul>
      </div>
    </div>
    
    <div class="bg-red-500">
      <div>images</div>
      <div>socilas</div>
    </div>
    
  </div>
  <div></div>
</div>