<div class="flex justify-between items-center py-5 px-7">
  <div>
    <h1>
      <a href="/"><span class="block">Baha</span><span>Company</span></a>
    </h1>
  </div>
  <div class="flex items-baseline gap-14 font-bold">
    <nav>
      <ul class="flex gap-10">
        <li class="hover:text-primary"><a href="/">Home</a></li>
        <li class="hover:text-primary"><a href="#">Services</a></li>
        <li class="hover:text-primary"><a href="#">Team</a></li>
        <li class="hover:text-primary"><a href="#">About</a></li>
        <li class="hover:text-primary"><a href="#">News</a></li>
        <li class="hover:text-primary"><a href="#">Contact</a></li>
      </ul>
    </nav>
    <a class="bg-primary px-10 py-5 text-white" href="#">Get Free Ad</a>
  </div>
</div>