<!-- function for create number for thousend view -->
<%
function makeThousendView(number){
  if(number>1000){
    let thousendView = Math.floor(number/1000);
    return `${thousendView}K`;
  }else{
    return number
  }
}
%> 

<div class="main-slide pb-28 relative">
  <div class="container mx-auto grid gap-32 grid-cols-[1.1fr_1fr]">

    <div class="flex flex-col justify-between py-20">
      <div class="bg-primary w-14 h-1"></div>
      <div>
        <h6 class="text-primary text-sm font-medium uppercase">Legalized Since 2002</h6>
        <h1 class="font-bold text-5xl mb-6">People Do Not Win People Fights - <span class="text-primary">Lawyers Do</span></h1>
        <p class="mb-10">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, hic harum. Iusto dolorum perferendis error libero obcaecati nesciunt esse, corrupti mollitia. Voluptates, neque numquam.</p>
        <div>
          <a class="bg-primary px-6 py-4 text-white mr-5 hover:bg-secondary" href="#">Get Free Ad</a>
          <a class="border border-secondary px-6 py-4 text-secondary hover:border-primary hover:text-primary" href="#">Explore More</a>
        </div>
      </div>
      <div>
        <ul class="flex gap-10">
          <li>
            <span class="block font-bold text-4xl mb-1"><%= makeThousendView(data.projects) %></span>
            <span class="block uppercase font-semibold text-xs text-primary">Projects</span>
          </li>
          <li>
            <span class="block font-bold text-4xl mb-1"><%= makeThousendView(data.reports) %></span>
            <span class="block uppercase font-semibold text-xs text-primary">Reports</span>
          </li>
          <li>
            <span class="block font-bold text-4xl mb-1"><%= makeThousendView(data.clicks) %></span>
            <span class="block uppercase font-semibold text-xs text-primary">Clicks</span>
          </li>
        </ul>
      </div>
    </div>
    
    <div class="grid grid-cols-[1fr_40px]">
      <div class="relative">
        <div class="absolute w-1/2 h-full bg-secondary top-0 right-0"></div>
        <div class="absolute w-1/2 h-2/3 bg-primary top-1/2 right-1/2 translate-x-1/2 -translate-y-1/2 z-10"></div>
        <div class="relative pt-16 flex justify-center">
          <img class="z-10" src="img/human.png" alt="">
        </div>
      </div>
      <div class="bg-secondary pt-12 pr-3 z-10">
        <div class="origin-[100%_0%] rotate-90 translate-y-[200%] whitespace-nowrap text-white font-bold">
          <a class="mr-5 hover:text-primary" href="#">Facebook</a>
          <a class="mr-5 hover:text-primary" href="#">Twitter</a>
          <a class="hover:text-primary" href="#">Instagram</a>
        </div>
      </div>
    </div>
    
  </div>
  <div class="absolute top-0 right-0 w-1/4 h-[100%] bg-secondary z-0"></div>
</div>