<div class="flex justify-between items-center">
  <div>
    <h1>
      <a href="#"><span class="block">Baha</span><span>Company</span></a>
    </h1>
  </div>
  <div class="flex gap-10">
    <nav>
      <ul class="flex gap-10">
        <li><a href="#">Home</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Team</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
    <a href="#">Get Free Ad</a>
  </div>
</div>