<% let data = [
  {
    title: 'Professional Sevices 1',
    text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit atque minima ipsum dolorum, aspernatur distinctio error? Labore quam temporibus voluptatem at, saepe ad?',
    icon: '<path stroke-linecap="round" stroke-linejoin="round" d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4" />',
    link: '#',
  },
  {
    title: 'Professional Sevices 2',
    text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit atque minima ipsum dolorum, aspernatur distinctio error? Labore quam temporibus voluptatem at, saepe ad?',
    icon: '<path stroke-linecap="round" stroke-linejoin="round" d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z" />',
    link: '#',
  },
  {
    title: 'Professional Sevices 3',
    text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit atque minima ipsum dolorum, aspernatur distinctio error? Labore quam temporibus voluptatem at, saepe ad?',
    icon: '<path stroke-linecap="round" stroke-linejoin="round" d="M15 15l-2 5L9 9l11 4-5 2zm0 0l5 5M7.188 2.239l.777 2.897M5.136 7.965l-2.898-.777M13.95 4.05l-2.122 2.122m-5.657 5.656l-2.12 2.122" />',
    link: '#',
  },
] %> 

<div class="container mx-auto relative flex mb-20">
  <div class="-mt-28 grid grid-cols-3 drop-shadow-md">
    <% data.forEach((data,i) => { %>
  
      <%- include('service-item', {data,i}) %>
    
    <% }); %> 
  </div>
</div>