<div class="<% if(i%2 == 0){ %>bg-gray-200<% }else{ %>bg-white<% } %> p-14">
  <div class="flex gap-10 items-center mb-6">
    <div class="bg-white shadow drop-shadow-[0_0_10px_rgba(0,0,0,0.09)] p-6 rounded-full">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
        <%- data.icon %> 
      </svg>
      
    </div>
    <h3 class="text-xl font-bold"><%= data.title %> </h3>
  </div>
  <p class="mb-6 leading-7"><%= data.text %> </p>
  <a class="underline decoration-solid text-primary font-bold" href="<%= data.link %>">Read More ></a>
  
</div>