<!DOCTYPE html>
<html lang="en">
<%- include('components/head', {title}) %>
<body>
    <div class="card-list">
    <% data.forEach(data => { %>
    
        <%- include('components/card', {data}) %> 
      
    <% }); %>
    </div>
</body>
</html>